# Interview data exploration

In [1]:
import pandas as pd
df = pd.read_csv('./data/participants.csv')

df = df.rename(columns={
    "On a scale from 1 to 10, how do you estimate your programming experience?": "Programming experience (of 10)",
    "How experienced are you with the following language: Python?": "Python experience (of 5)",
    "How experienced are you with the following language: Jayvee?": "Jayvee experience (of 5)",
    "student_id_anon": "ID",
})

df = df[[
    'ID',
    'Programming experience (of 10)',
    'Python experience (of 5)',
    'Jayvee experience (of 5)',
]]

df

,ID,Programming experience (of 10),Python experience (of 5),Jayvee experience (of 5)
0,7,7,3,3
1,6,9,4,4
2,2,7,4,3
3,8,8,3,3
4,12,9,5,5
5,11,7,2,4
6,1,8,5,3
7,4,5,2,4
8,9,9,4,3
9,5,9,5,4
10,3,6,3,2
11,10,9,4,4
12,0,8,4,5